---
layout: sub
title: Misfits Audio - Fine Art & Illustration
canonical: http://andreasilva.design/portfolio/fine-art-and-illustration/misfits-audio.html
---
<h1>Misfits Audio</h1>
<hr />

<p>Misfits Audio is on online collection of audio theatre productions, produced completely by volunteers. 
  I had the opportunity to create several cover art pieces for various audio dramas.</p>

<div id="gallery" style="display:none;">
  {% for image in site.data.portfolio.art.misfits %}
    <a href="http://andreasilva.design">
      <img alt="{{ image.alt }}"
        src="{{ site.baseurl }}/assets/images/portfolio/art/{{ image.gallery }}/{{ image.thumb }}"
        data-image="{{ site.baseurl }}/assets/images/portfolio/art/{{ image.gallery }}/{{ image.full }}"
        data-description="{{ image.description }}"
        style="display:none">
    </a>
  {% endfor %}
</div>

{% include uniteGallery.html %}
