---
layout: sub
title: Graphic Design
canonical: http://andreasilva.design/portfolio/graphic-design.html
---
<h1>Graphic Design</h1>
<hr />

<p>I have worked on a variety of projects in print, web, and other applications. Browse through my collection of print 
  design including wedding invitations and postcards, brochures, t-shirts, and identity work, as well as web banners, 
  car wraps, and more.</p>

<div id="gallery" style="display:none;">
  {% for image in site.data.portfolio.design %}
    <a href="http://andreasilva.design">
      <img alt="{{ image.alt }}"
        src="{{ site.baseurl }}/assets/images/portfolio/design/{{ image.thumb }}"
        data-image="{{ site.baseurl }}/assets/images/portfolio/design/{{ image.full }}"
        data-description="{{ image.description }}"
        style="display:none">
    </a>
  {% endfor %}
</div>

{% include uniteGallery.html %}
