.content {
  margin: 50px 0 0 0;
}

.content-sub {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 1.7rem;
  line-height: 3rem;

  h1 {
    font-family: $fontheadings;
    font-size: 6rem;
    color: $aquadark;
  }
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.featured-imgs {
  img {
      width: 100%;
    height: auto;
  }
  
  div {
      cursor: pointer;
  }
}

#gallery {
    margin-top: 20px;
    margin-bottom: 20px;
}

#sr {
  visibility: hidden;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-container {
  width: 280px;
  height: 350px;
  background: darken($graydarker, 5%);
  border: 3px solid darken($graydarker, 5%);
  margin-right: 15px;
  margin-bottom: 15px;
  color: $white;
  border-radius: 0 0 8px 8px;

  div {
    width: 100%;
    height: 281px;
    overflow: hidden;
  }

  img {
    transform: scale(1.02);
    transition: all 0.35s;
  }

  &:hover img {
    transform: scale(1);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.7);
  }

  p {
    margin: 15px 0 0 0;
    text-align: center;
  }
}

.testimonials {
  font-size: 1.9rem;
  line-height: 3rem;
  font-style: italic;

  div {
    margin-bottom: 10px;
  }

  i, 
  p {
    float: left !important;
  }

  i {
    color: lighten($gray, 61%);
  }

  p {
    width: 80%;
    margin-left: 10px;

    .author {
      float: right !important;
      color: lighten($burgundydark, 40%);
      padding-top: 10px;
    }
  }
}

@media (max-width:321px) {
  .testimonials {
    .quote {
      width: 78%;
      margin-left: 10px;
    }
  }
}
