.content {
  margin: 50px 0 0 0;
}

.content-sub {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 1.7rem;
  line-height: 3rem;

  h1 {
    font-family: $fontheadings;
    font-size: 6rem;
    color: $aquadark;
  }
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.featured-imgs {
  img {
      width: 100%;
    height: auto;
  }
  
  div {
      cursor: pointer;
  }
}

#gallery {
    margin-top: 20px;
    margin-bottom: 20px;
}

#sr {
  visibility: hidden;
}

/*#olderID {
  height: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 4rem;
  position: absolute;
  z-index: 999;
  width: 100%;
  padding-top: 20px;
}*/