.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
    }

    img {
        display: block;
        position: relative;
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
    }

    &:hover img {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
        filter: grayscale(1) blur(3px);
        -webkit-filter: grayscale(1) blur(3px);
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    h2 {
        text-transform: uppercase;
        text-align: center;
        position: relative;
        font-size: 4.5rem;
        padding: 20px;
        background: rgba(0, 0, 0, 0.6);
        top: 70px !important;
    }

    p.info {
        display: inline-block;
        text-decoration: none;
        padding: 15px;
        margin: 50px 0 0 0;
        background: rgba(0, 0, 0, 0.6);
        width: 70%;

        &:hover {
            box-shadow: 0 0 5px #fff;
        }
    }
}

.hovereffect p.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
}

.hovereffect:hover p.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width:769px) {
  .hovereffect {
      h2 {
          padding: 10px;
          font-size: 3.5rem;
      }
      p.info {
          margin: 10px 0 0 0;
          width: 90%;
      }
  }
}
