footer {
  height: 100px;
  color: #545353;
  background-color: #F9F7ED;//#FBFAF2;
  border-top: 1px solid #545353;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

  i {
    color: #F90505 !important;
    margin-top: 15px;
  }
}
