/* Bootstrap NavBar Override http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0 */ 

$bgDefault      : #802B40;
$bgHighlight    : #701f32;
$colDefault     : #ecf0f1;
$colHighlight   : #ecf0f1;
$dropDown       : false;

.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    font-size: 25px;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHighlight;
        }
    }
    .navbar-text {
        color: $colDefault;
    }
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHighlight;
                    background-color: $bgHighlight;
                }
            }
            @if $dropDown {
                > .dropdown-menu {
                    background-color: $bgDefault;
                    > li {
                        > a {
                            color: $colDefault;
                            &:hover, &:focus {
                                color: $colHighlight;
                                background-color: $bgHighlight;
                            }
                        }
                        > .divider {
                            background-color: $bgHighlight;
                        }
                    }
                }
            }
        }
        @if $dropDown {
            .open .dropdown-menu > .active {
                > a, > a:hover, > a:focus {
                    color: $colHighlight;
                    background-color: $bgHighlight;
                }
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
        > .open {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight;
        }
        .icon-bar {
            background-color: $colDefault;
        }
    }
    .navbar-collapse, .navbar-form {
        border-color: $colDefault;
    }
    .navbar-link {
        color: $colDefault;
        &:hover {
            color: $colHighlight;
        }
    }
}
@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $colDefault;
            &:hover, &:focus {
                color: $colHighlight;
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
}
