$burgundydark: #32191F;
$white: #fff;
$creamlight: #F9F7ED;
$gray: #545353;
$graydarker: #4E4D4D;
$red: #F90505;
$aquadark: #FF6346;

//Navigation
$bgDefault: #802B40;
$bgHighlight: darken($bgDefault, 5%);
$colDefault: $creamlight;
$colHighlight: darken($creamlight, 5%);
$dropDown: true;

$fontprimary: 'Century Gothic', sans-serif;
$fontheadings: 'Roboto', sans-serif;
