$burgundydark: #32191f;
$white: #fff;
$creamlight: #f9f7ed;
$gray: #545353;
$graydarker: #4e4d4d;
$red: #f90505;
$aquadark: #7cc144;
$darkgray: #3e3e3e;

//Navigation
$bgDefault: #802b40;
$bgHighlight: darken($bgDefault, 5%);
$colDefault: $creamlight;
$colHighlight: darken($creamlight, 5%);
$dropDown: true;

$fontprimary: 'Century Gothic', sans-serif;
$fontheadings: 'Roboto', sans-serif;
